.hero-section-homepage{
    background-image: url('https://kolhapur.wordcamp.org/2026/files/2025/10/wordcamp-kolhapur-2025.webp');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.hero-section-homepage h1 {
    position: relative;
}
.hero-section-homepage h1:before, .hero-section-homepage h1:after {
    position: absolute;
    content: '';
    left: -80px;
    top: -80px;
    width: 80px;
    height: 80px;
    background-image: url('https://kolhapur.wordcamp.org/2026/files/2025/10/bird-animated.gif');
    background-size: contain;
    background-repeat: no-repeat;
}
.hero-section-homepage h1:after {
    top: -60px;
    right: -80px;
    left: auto;
    transform: scaleX(-1);
}
.homepage-join-wordcamp .wp-block-column{
    padding:25px;
    border-radius: 20px;
}
/* Homepage news box */
.home ul.wp-block-latest-posts{
    background:red;
   display: flex;
  flex-wrap: wrap;        /* allow wrapping to create “rows” */
  gap: 20px;    
}
.homepage-news-box ul li{
    flex: 1 1 33.333%;      /* grow and shrink; base width ≈ 33.333% */
  min-width: 0;           /* critical: let content shrink inside flex items */
  background: #f6f6f6;
  padding: 16px;
  border-radius: 8px;
  overflow-wrap: break-word;
}

/* Responsive for mobile */
@media (max-width: 768px) {
  .home ul.wp-block-latest-post li {
    flex-basis: 100%
  }
}